/********************TAG SELECTORS********************/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr {
  border-style: hidden hidden dotted;
  border-width: 7px;
  width: 60px;
  border-color: #e0e0e0;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Clicker Script', cursive;
  font-size: 700%;
  color: #424874;
}

p {
  color: #636363;
  line-height: 2;
}

h2 {
  color: #424874;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  padding-bottom: 10px;

}

h3 {
  color: #424874;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}



/********************CLASS SELECTORS********************/
.Ruby {

  width: 200px;
}
.toy {
  width: 25%;
  float:left;
  margin-right: 30px;
}

.bark{
  width: 30%;
  float: right;
  margin-left: 30px;
}

.top-cloud {
  position: absolute;
  right: 23%;
  top: 8%;
}

.bottom-cloud {
  position: absolute;
  left: 23%;
  bottom: 40%;
}

.top-container {
  background-color: #ceedf2;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #ebffff;
  padding: 20px;
}

.profile {
  padding: 50px;
}

.skills {
  padding: 50px;
  padding-bottom: 20px;
}

.skill-row {
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;
  padding: 20px;

}

.bottom-container {
  background-color: #daccd1;
  padding: 50px 0 20px;
}

.contact-me {
  padding: 50px;
}
.contact-message {
width: 40%;
margin: auto;
}

.btn {
	box-shadow:inset 0px 1px 0px 0px #cfbcdb;
	background:linear-gradient(to bottom, #e3bfe6 5%, #9e78a6 100%);
	background-color:#e3bfe6;
	border-radius:6px;
	border:1px solid #b477ba;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #8659ab;
  margin-top: 50px;
}
.btn:hover {
	background:linear-gradient(to bottom, #9e78a6 5%, #e3bfe6 100%);
	background-color:#9e78a6;
}
.btn:active {
	position:relative;
	top:1px;
}



.footer-link{
  padding: 20px;
  color: #b594a0;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;

}

.footer-link:visited:hover {
  color: #f5edf0;
}

.footer-link:visited {
  color: #b594a0;
}
.footer-text{
  color: #f5f2f3;
  padding:20px 0;
}
